* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 320px;
}

.display {
    background-color: #000;
    color: #fff;
    text-align: right;
    font-size: 2rem;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #777;
}

.btn.equal {
    background-color: #ff9500;
    grid-column: span 1.7;
}

.btn.wide {
    grid-column: span 1.7;
}
.btn del{
    grid-column: span 1.9;
}

.btn.equal:hover {
    background-color: #ffa500;
}